body {
  margin: 0;
}

.site-header {
  background-color: #008080;
  padding: 5px 50px;
  width: 100%;
  box-sizing: border-box;
}

#header h1 {
  color: pink;
  font-family: "Times New Roman";
  font-size: 32px;
  text-align: center;
}

main {
  padding: 5px 20px;
  font-family: "Times New Roman";
}

main p {
  font-size: 18px;
  color: green;
}

.content {
    display: flex;
    gap: 40px;
    align-items: flex-start;

}

.content img {
    width: 50%;
    height: auto;
}

.text-content {
    flex: 1;
}

.text-content h2 {
  margin-top: 0;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
}